{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container content-row">
    <div class="row">
            <div class="col text-center mt-3">
                <h2><span class="bg-orange text-white">Latest Reviews</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="card-columns align-items-stretch mb-5">
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.0.podcast.id %}">
                        <img src="{{ review_index.0.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.0.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.0.review.title }}</h5>
                        {% with ''|center:review_index.0.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.0.review.user }}</h6>
                        <p class="card-text">"{{ review_index.0.review.content }}"</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.0.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.1.podcast.id %}">
                        <img src="{{ review_index.1.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.1.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ review_index.1.review.title }}</h5>
                        {% with ''|center:review_index.1.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.1.review.user }}</h6>
                        <p class="card-text">"{{ review_index.1.review.content }}"</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.1.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.2.podcast.id %}">
                        <img src="{{ review_index.2.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.2.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.2.review.title }}</h5>
                        {% with ''|center:review_index.0.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.2.review.user }}</h6>
                        <p class="card-text">{{ review_index.2.review.content }}</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.2.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.3.podcast.id %}">
                        <img src="{{ review_index.3.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.3.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.3.review.title }}</h5>
                        {% with ''|center:review_index.3.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.3.review.user }}</h6>
                        <p class="card-text">"{{ review_index.3.review.content }}"</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.3.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.4.podcast.id %}">
                        <img src="{{ review_index.4.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.4.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.4.review.title }}</h5>
                        {% with ''|center:review_index.4.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.4.review.user }}</h6>
                        <p class="card-text">{{ review_index.4.review.content }}</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.4.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.5.podcast.id %}">
                        <img src="{{ review_index.5.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.5.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.5.review.title }}</h5>
                        {% with ''|center:review_index.5.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.5.review.user }}</h6>
                        <p class="card-text">"{{ review_index.5.review.content }}"</p>
                    <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.5.podcast.friendly_title }}</small>
                    </div>
                </div>
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'podcast_detail' review_index.6.podcast.id %}">
                        <img src="{{ review_index.6.podcast.image_url }}" class="card-img-top review-card-img"
                             alt="{{ review_index.6.podcast.friendly_title }} image" style="width: 18rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ review_index.6.review.title }}</h5>
                        {% with ''|center:review_index.6.review.rating as range %}
                            {% for i in range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        {% endwith %}
                        <h6 class="text-black">~ {{ review_index.6.review.user }}</h6>
                        <p class="card-text">{{ review_index.6.review.content }}</p>
                        <i class="fas fa-tag text-pink"></i> <small class="text-pink funky-font">{{ review_index.6.podcast.friendly_title }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}