{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <!--                | means OR operator-->
                <strong>{{ message|safe }}</strong>
            </div>
        {% endfor %}
    {% else %}
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-3 mx-auto">
                        <div class="card bg-dark text-white">
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="card-header">Upload Review Data</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        <label for="file1"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file1" name="file1">
                                        <br>
                                        <label for="file2"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file2" name="file2">
                                        <br>
                                        <label for="file3"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file3" name="file3">
                                        <br>
                                        <label for="file4"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file4" name="file4">
                                        <br>
                                        <label for="file5"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file5" name="file5">
                                        <br>
                                        <label for="file6"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file6" name="file6">
                                        <br>
                                        <label for="file7"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file7" name="file7">
                                        <br>
                                        <label for="file8"> Upload a file</label>
                                        <br>
                                        <input type="file" class="form-control-file" id="file8" name="file8">
                                        <br>
                                        <small>Only accepts CSV files</small>
                                        <br>
                                    </div>
                                    <button class="btn btn-danger text-center" type="submit">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}