{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-12 text-center mt-2">
            <h2><span class="bg-orange text-white">{{ profile.user|capfirst }}'s Dashboard</span></h2>
        </div>
        <!-- Profile Card -->
        <div class="row mx-auto no-gutters mb-5">
            <div class="card profile-card force-hover col-md-4 col-12">
                {% if profile.profile_image_url %}
                    <img class="card-img-top profile-card-img" src="{{ profile.profile_image_url }}"
                         alt="{{ profile.username }} profile image">
                {% else %}
                    <img class="card-img-top profile-card-img"
                         src="https://via.placeholder.com/300.jpg?text=No+Image+Added+Yet"
                         alt="{{ profile.username }} profile image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Profile:
                        {% if profile.nickname %}
                            {{ profile.nickname }}
                        {% else %}
                            {{ profile.user }}
                        {% endif %}
                        {% if profile.pro_user %}
                            <sup class="badge badge-warning text-black"><i class="fas fa-star"></i> Pro</sup>
                        {% endif %}
                    </h5>
                    <p class="card-text">Bio: {% if profile.bio %}{{ profile.bio }}{% endif %}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location:
                        {% if profile.location %}{{ profile.location }}{% endif %}</li>
                    <li class="list-group-item">Birth Date:
                        {% if profile.birth_date %}{{ profile.birth_date }}{% endif %}</li>
                    <li class="list-group-item">Favourite Genres:
                        <br>
                        {% for fav in profile.fav_genre.all %}
                            <span class="badge badge-pill bg-danger">{{ fav.friendly_name }}</span>
                        {% endfor %}
                    </li>
                </ul>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="profile-edit-btn btn btn-outline-light" data-toggle="modal" data-target="#staticBackdrop">
                        <i class="fas fa-user-edit"></i> EDIT
                    </button>
                </div>
            </div>
            <!-- Reviews -->
            <div class="col-md-6 col-12 ml-3">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="card force-hover mx-auto mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.title }}</h5>
                                <h6 class="card-subtitle mb-2 funky-font text-muted">
                                    {% for i in reviewed_pods %}
                                        {% if i.0 == review.id %}
                                            <a class="text-decoration-none text-pink" href="{% url "podcast_detail" review.podcast_id_id %}">{{ i.1.friendly_title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </h6>
                                <p class="card-text text-truncate">{{ review.content }}</p>
                                <br>
                                {% with ''|center:review.rating as range %}
                                    {% for i in range %}
                                        <span class="material-icons text-warning">star_rate</span>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            {% for i in reviewed_pods %}
                                {% if i.0 == review.id %}
                                    <a class="text-right mr-2 mb-1 text-light" href="{% url 'add_review' i.1.id %}">
                                        <span class="material-icons">create</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h5 class="text-muted mt-5 text-center">When you review something, it'll show here!</h5>
                {% endif %}
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title funky-font bg-pink" id="staticBackdropLabel">Update Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="" class="profile-form">
                        {% csrf_token %}
                        <div class="modal-body">

                            {{ form|crispy }}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-darkest">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}