@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    background-color: white !important;
}

a {
    text-decoration: none;
    color: #3C91E6;
}

a:hover {
    text-decoration: none;
    color: #424874;

}

.navbar-brand {
    font-family: 'Peralta', cursive;
}

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
}

.funky-font {
    font-family: 'Zilla Slab Highlight', cursive;
}

.normal-font {
    font-family: "Courier New";
}

.card {
    background-color: #424874 !important;
    color: white !important;
}

.detail-card a:hover {
    color: white;
}

.bg-mid-blue {
    background-color: #3C91E6 !important;
}

.breadcrumb {
    background-color: #a6b1e1 !important;
}

.darkest-bg {
    background-color: #424874 !important;
}

.darkest-fg {
    color: #424874 !important;
}

.dropdown-item:hover {
    background-color: #a6b1e1 !important;
}

.bg-warning {
    background-color: #FF8600 !important;
}

.bg-pink {
    background-color: #EDAFB8 !important;
}

.bg-orange {
    background-color: #FF8600 !important;
}

/* orange outline button */
.btn-outline-orange {
    color: #FF8600;
    border-color: #FF8600;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #FF8600;
    border-color: #FF8600;
}

/* pink outline button */
.btn-outline-pink {
    color: #EDAFB8;
    border-color: #EDAFB8;
}

.btn-outline-pink:hover {
    color: #000;
    background-color: #EDAFB8;
    border-color: #EDAFB8;
}

/* orange outline button */
.btn-outline-mid-blue {
    color: #3C91E6;
    border-color: #3C91E6;
}

.btn-outline-mid-blue:hover {
    color: #fff;
    background-color: #3C91E6;
    border-color: #3C91E6;
}

/* dark blue button */
.btn-darkest {
    color: #fff;
    background-color: #424874;
    border-color: #424874;
}

.btn-darkest:hover {
    color: #fff;
    background-color: #6771b5;
    border-color: #6771b5;
}

/* orange button */
.btn-orange {
    color: #fff;
    background-color: #FF8600;
    border-color: #FF8600;
}

.btn-orange:hover {
    color: #fff;
    background-color: #69451e;
    border-color: #69451e;
}

.text-pink {
    color: #EDAFB8 !important;
}

.text-large {
    font-size: 2rem;
}

/* BOOTSTRAP BREADCRUMB */
.breadcrumb {
    background-color: #EDAFB8 !important;
    border-radius: 0 !important;
}

.breadcrumb a {
    color: #3C91E6;
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #FEFFEA !important;
    content: '|';
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #FEFFEA;
}

/* end breadcrumb */


.podcast-card-img {
    max-width: 15rem;
}

.footer-img {
    max-width: 15rem;
}

.pagination {
    justify-content: center;
}

.page-link-inactive {
    background: lightslategray;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .2rem;
    color: white !important;
    border-radius: .125rem;
}

.badge-sm {
    font-size: .6rem !important;
}

/* Profile */

.profile-modal-textbox {
    max-height: 8rem !important;
}

.profile-card,
.profile-card .list-group-item {
    background-color: #424874 !important;
    color: white !important;
}

/* MATERIALIZE hover */
.force-hover {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.force-hover:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* END hover */

/* BOOTSTRAP form-control and form-control-sm */
#loginBackdrop #id_login,
#loginBackdrop #id_password {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label[for="id_login"],
label[for="id_password"] {
    margin-top: .5rem;
}

#socialSignIn a {
    display: block;
    margin: 3rem 4rem;
}

.social-buttons a {
    display: inline;
    margin: 1rem .5rem;
    max-width: 8rem;
}

.tooltip-div {
    display: inline-block;
}

/* FILE upload */
.upload input {
    display: inline;
}



/* STRIPE */
.StripeElement {
    border: 1px solid orangered !important;
}

/* TOP TEN SECTION*/
.top-ten-num {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5rem;
    color: #424874;
}

.top-ten-img {
    max-width: 5rem;
    border-radius: 50%;
}

.table .badge {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

/* BENEFITS page TESTIMONIALS */

.testimonials {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    margin: auto;
}

/* Review cards*/

.review-card-img {
    border-radius: 0 0 50% 0;
}