@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.text-large {
    font-size: 2rem;
}


.podcast-card-img {
    max-width: 15rem;
}

.footer-img {
    max-width: 15rem;
}

.pagination {
   justify-content: center;
}

.page-link-inactive {
    background: lightslategray;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .2rem;
    color: white !important;
    border-radius: .125rem;
}

.badge {
    border-radius: 10rem !important;
}

.badge-sm {
    font-size: .6rem !important;
}

.profile-modal-textbox {
    max-height: 8rem !important;
}

/* MATERIALIZE hover */
.force-hover {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.force-hover:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* END hover */

/* BOOTSTRAP form-control and form-control-sm */
#loginBackdrop #id_login,
#loginBackdrop #id_password{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label[for="id_login"],
label[for="id_password"]{
    margin-top: .5rem;
}

#socialSignIn a {
    display: block;
    margin: 3rem 4rem;
}

.social-buttons a {
    display: inline;
    margin: 1rem .5rem;
    max-width: 8rem;
}

.tooltip-div {
    display: inline-block;
}

/* TOP TEN SECTION*/
.top-ten-num {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5rem;
}

.top-ten-img {
    max-width: 5rem;
    border-radius: 50%;
}

.table .badge {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

/* BENEFITS page TESTIMONIALS */

.testimonials {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    margin: auto;
}