<div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="min-width: 15rem;">
    <div class="toast-header bg-warning text-white">
        <strong class="mr-auto text-white"><i class="fas fa-thumbs-up text-white"></i> Error!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times-circle text-white"></i></span>
        </button>
    </div>
    <div class="toast-body text-white">
        {{ message }}
    </div>
</div>
