{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1 class="text-center mt-5">{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one your {{ site_name }} account
            or third party authorization.{% endblocktrans %}</p>

        <div class="socialaccount_ballot text-center">

            <div class="social-buttons mb-2">
                <a href="{% url "google_login" %}" class="btn btn-success"><i class="fab fa-google"></i>
                    Google</a>
                <a href="{% url "twitter_login" %}" class="btn btn-primary"><i
                        class="fab fa-twitter"></i>
                    Twitter</a>
            </div>
            {% trans 'or' %}
        </div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login form-group col-md-4 mx-auto" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="button-wrapper text-center">
            <a class="button secondaryAction btn btn-danger"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </div>
    <small class="text-center">No account? <a href="{{ signup_url }}">Sign up</a></small>
    </form>


{% endblock %}
